header .navbar-fixed-top {
  border-width: 0 0 0px;
}

header nav {
  margin-bottom: 0px !important;
}

header nav .container-fluid {
  min-height: 70px;
  padding-top: 7px;
  background-color: white;
}

header nav .container-fluid .list-category i,
header nav .container-fluid .list-category span {
  font-size: 20px;
  color: green;
}

header nav .container-fluid #header-search input {
  width: 350px;
}

header nav .container-fluid .selected {
  left: 3%;
  top: 0;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 11px solid #ffffff;
  margin: -11px 0px 0px 17px;
  display: inline-block;
}

header nav .container-fluid .account .user-dropdown .dropdown-toggle {
  padding-top: 5px;
  padding-bottom: 10px;
}

header nav .container-fluid .account .user-dropdown .dropdown-toggle img {
  width: 35px;
}

